
/* -------------NAVIGATION -------------------*/
.fixed-header-on .header{
  background-color: #0f0261;
  -webkit-box-shadow: 0px 5px 10px gray;
  -moz-box-shadow:    0px 5px 10px gray;
  box-shadow:         0px 5px 10px gray;
  z-index:999;
}

.main-navigation .navbar-default .navbar-nav > li.active > a {
  color: #ff0099;
}
.main-navigation .navbar-default .navbar-nav > li > a:hover,
.main-navigation .navbar-default .navbar-nav > li.active > a:hover {
  color: #ff0099;
}

/* -------------- MAIN ---------------*/

body{
  font-family: Avenir Next LT Pro Demi Condensed;
  background-color: lightgray;
}

.section{
  background-color: lightgray;
}

.pink{
  color: #ff0099;
}

.blue{
  color: #0f0261;
}

.gray{
  color: #525252;
  font-family: SweetPea;
}

.section-title{
  color: #0f0261;
  font-family: SweetPea;
  font-size: 80px;
}

.section-subtitle{
  color: #0f0261;
  font-family: MoonFlowerBold;
  font-size: 30px;
}


.text .val{
  font-size: 14pt;
  vertical-align: middle;
}


.panel-heading{
  text-align: center;
}

.panel-body{
  text-align: justify;
}

.overlay-container{
  border-radius: 5px 5px 0 0;
}

.overlay{
  border-radius: 5px 5px 0 0;
}

.image-box > .btn {
  border-radius: 0 0 5px 5px;
}

.sub-lead{
  font-size: 15px;
  color: gray;
}

.slide {
  background: black;

}

#story{
/*  border: solid black 5px;
  border-radius: 5%;
  padding: 3%;*/
/*  float: none;
  display: table-cell;
  vertical-align: top;*/
  background-color: white;

}

.headshot{
  height: 300px;
  margin: auto;

}

#proposal{
  z-index : 1;
}


/*Timeline CSS*/

.valign > [class*="col"] {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.time-circleBase {
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  display: inline-block;
  vertical-align: middle;
  border: 10px solid lightgray;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
  position: relative;
  display: block;
  margin: auto;
}

.time-small {
  width: 150px;
  height: 150px;
  background-image: url("http://lorempixel.com/100/100/");
}
.time-medium {
  width: 200px;
  height: 200px;
  background-image: url("http://lorempixel.com/200/200/");
}
.time-large {
  width: 300px;
  height: 300px;
  background-image: url("http://lorempixel.com/300/300/");
}

.time-right {
  /*float: right;*/
}
.time-left{
  /*float: left;*/
}

.timeline-section{
  /*border: solid black 2px;*/
}

.timeline-row {
  display: table;
}
.timeline-row [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: middle;
}

.timeline-block{
  padding: 2em;
  margin: 2em;
}

.infographic{
  text-align: center;
}

/*.infographic > img{
    max-width: 750px;
    }*/

    .info{
      font-size: 80%;
    }

    .register_logo{
      max-height: 100px;
    }

    .card{
      padding: 10px;
      background-color: white;
      -webkit-box-shadow: 0px 5px 10px gray;
      -moz-box-shadow:    0px 5px 10px gray;
      box-shadow:         0px 5px 10px gray;
    }

    .story{
      text-align: justify;
    }

    .info_card > .panel-body{
      text-align: center;
    }

    .party-filters > li{
      background-color: white;
    }



    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }



    /* -------- FONTS ------------*/

    @font-face {
      font-family: 'SweetPea';
      src: url('/fonts/Sweet_Pea_2.ttf'); /* IE9 Compat Modes */
      src: url('/fonts/Sweet_Pea_2.ttf') format('truetype'), /* IE6-IE8 */
    }

    @font-face {
      font-family: 'MoonFlowerBold';
      src: url('/fonts/Moon Flower Bold.tff'); /* IE9 Compat Modes */
      src: url('/fonts/Moon Flower Bold.tff') format('truetype'), /* IE6-IE8 */
    }

    @font-face {
      font-family: 'Avenir Next LT Pro Condensed';
      font-style: normal;
      font-weight: normal;
      src: url('/fonts/AvenirNextLTPro-Cn.woff') format('woff');
    }


    @font-face {
      font-family: 'Avenir Next LT Pro Demi';
      font-style: normal;
      font-weight: normal;
      src: url('/fonts/AvenirNextLTPro-Demi.woff') format('woff');
    }


    @font-face {
      font-family: 'Avenir Next LT Pro Demi Condensed';
      font-style: normal;
      font-weight: normal;
      src: url('/fonts/AvenirNextLTPro-DemiCn.woff') format('woff');
    }


    @font-face {
      font-family: 'Avenir Next LT Pro Heavy Condensed';
      font-style: normal;
      font-weight: normal;
      src: url('/fonts/AvenirNextLTPro-HeavyCn.woff') format('woff');
    }


    @font-face {
      font-family: 'Avenir Next LT Pro Medium Condensed';
      font-style: normal;
      font-weight: normal;
      src: url('/fonts/AvenirNextLTPro-MediumCn.woff') format('woff');
    }


    @font-face {
      font-family: 'Avenir Next LT Pro Regular';
      font-style: normal;
      font-weight: normal;
      src: url('/fonts/AvenirNextLTPro-Regular.woff') format('woff');
    }


    @font-face {
      font-family: 'Avenir Next LT Pro Ultra Light Condensed';
      font-style: normal;
      font-weight: normal;
      src: url('/fonts/AvenirNextLTPro-UltLtCn.woff') format('woff');
    }


    @font-face {
      font-family: 'Avenir Next LT Pro Bold';
      font-style: normal;
      font-weight: normal;
      src: url('/fonts/AvenirNextLTPro-Bold.woff') format('woff');
    }


    @font-face {
      font-family: 'Avenir Next LT Pro Bold Condensed';
      font-style: normal;
      font-weight: normal;
      src: url('/fonts/AvenirNextLTPro-BoldCn.woff') format('woff');
    }


    @font-face {
      font-family: 'Avenir Next LT Pro Bold Condensed Italic';
      font-style: normal;
      font-weight: normal;
      src: url('/fonts/AvenirNextLTPro-BoldCnIt.woff') format('woff');
    }


    @font-face {
      font-family: 'Avenir Next LT Pro Condensed Italic';
      font-style: normal;
      font-weight: normal;
      src: url('/fonts/AvenirNextLTPro-CnIt.woff') format('woff');
    }


    @font-face {
      font-family: 'Avenir Next LT Pro Demi Condensed Italic';
      font-style: normal;
      font-weight: normal;
      src: url('/fonts/AvenirNextLTPro-DemiCnIt.woff') format('woff');
    }


    @font-face {
      font-family: 'Avenir Next LT Pro Demi Italic';
      font-style: normal;
      font-weight: normal;
      src: url('/fonts/AvenirNextLTPro-DemiIt.woff') format('woff');
    }


    @font-face {
      font-family: 'Avenir Next LT Pro Heavy Condensed Italic';
      font-style: normal;
      font-weight: normal;
      src: url('/fonts/AvenirNextLTPro-HeavyCnIt.woff') format('woff');
    }


    @font-face {
      font-family: 'Avenir Next LT Pro Italic';
      font-style: normal;
      font-weight: normal;
      src: url('/fonts/AvenirNextLTPro-It.woff') format('woff');
    }


    @font-face {
      font-family: 'Avenir Next LT Pro Medium Condensed Italic';
      font-style: normal;
      font-weight: normal;
      src: url('/fonts/AvenirNextLTPro-MediumCnIt.woff') format('woff');
    }


    @font-face {
      font-family: 'Avenir Next LT Pro Ultra Light Condensed Italic';
      font-style: normal;
      font-weight: normal;
      src: url('/fonts/AvenirNextLTPro-UltLtCnIt.woff') format('woff');
    }