<!doctype html>
<html ng-app="metrogramAdmin">
<head>
    <meta charset="utf-8" />
    <title>Metrogram Admin</title>
    <link rel="stylesheet" href="assets/admin_style.css" />
    <script src="assets/angular.min.js"></script>
    <script src="assets/metrogram_admin.js"></script>
</head>
<body ng-controller="imageadmin">

<input type="text" ng-model="tag" ng-change="tagChange()" ng-init="tag = 'rachandandy'" size="{{ tag.length }}" />

<ul id="images">
    <li ng-repeat="image in images">
        <figure>
            <img ng-src="{{ image.images.low_resolution.url }}" class="image" id="{{ image.id }}" style="" />
        </figure>
        <section class="actions">
            <a ng-show="image.isExcluded" ng-click="excludeImage(image, false)">Include back in</a>
            <a ng-show="!image.isExcluded" ng-click="excludeImage(image, true)">Exclude</a>
        </section>

    </li>
</ul>

<a ng-click="fetchImages()" ng-show="showNext()" class="more">More images</a>
</body>
</html>